<%- include('partials/header') %>

<div class="jumbotron text-center centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-5" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Lets study with friends</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="ownstyle"><%=user.secret%></p> <!--class="secret-text"-->
      <p class="nameatlaststyle"><%=user.username%></p>
    <% }) %>



    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-primary btn-lg" href="/submit" role="button">Post Your Own Question</a>
  </div>
</div>

<%- include('partials/footer') %>
